<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            display:flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form method="POST" action="/">
        <label>Full Name:</label><input type="text" required name="name"><br><br>
        <label>Email:</label><input type="text" required name="email"><br><br>
        <label>Password:</label><input type="text" required name="password"><br><br>
        <button type="submit">SignUp</button>
    </form>
</body>
</html>